header {
    padding-inline: 15px;
    justify-content: space-between;

    .logo {

        // margin-right: 1rem;
        img {
            height: 2.5lh;
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
        }
    }


    .links {
        font-size: 1.3rem;
        gap: 3rem;
    }

    .link:hover {
        color: #240079;
    }

    .active {
        // color: #4E6C50;
        color: #820000;
    }

    .btns {
        gap: 5px;

        button {
            height: 2rem;
            border-radius: 18px;
            background-color: #820000;
            border: none;
            color: #FAECD6;
        }

        .signin:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px 2px;
        }

        .signin {
            width: 120px
        }

        .contribute:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px 2px;
        }

        .contribute {
            width: 60px;
        }
    }
    
    .dropdown {
        height: 100%;
        justify-content: center;

        .dropdown-items {
            display: none;
        }
    }
    
    .dropdown:hover {
        .dropdown-items {
            position:absolute;
            display: flex;
            padding: 8px;
            padding-top: 0px;
            font-size: 1rem;
            flex-direction: column;
            top: 4.25rem;
            background-color: #82000088;
            color: #FAECD6;
        }
        a:hover{
            color: #240079;
        }
    }
}